/* Styling for when the link is NOT active */
.custom-nav-link {
  background-color: #ffffff;
  color: #212529;
  border: 1px solid var(--bs-border-color);
}

/* Styling for when the link IS active */
.custom-nav-link.active {
  background-color: var(--bs-light);
  color: var(--bs-primary);
  border-bottom: 1px solid var(--bs-light);
}

.custom-nav-link.disabled {
  background-color: #ffffff;
  color: #999;
  border-bottom: 1px solid var(--bs-border-color);
}

