
.container{
  border: 1px solid rgba(0, 0, 0);
  margin-left: 0rem;
  margin-right: 0rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Forza il componente a non superare lo schermo */
  overflow: hidden;
  /* Impedisce alla pagina intera di scrollare */
}


.btn-primary:disabled {
  --bs-btn-disabled-bg: var(--bs-secondary-bg, #6c757d);
  --bs-btn-disabled-border-color: var(--bs-secondary-border-subtle, #6c757d);
  --bs-btn-disabled-color: #999;
  opacity: 1;
}

.dropdown-toggle::after {
  display: none !important;
}

